<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Saints Church</title>
  </head>
  <body class="container">
    {% extends "template.html" %}
    {% block content %}
    
    <h1>DISC Assessment</h1>
    
    <form action="/disc/submit" method="POST">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstName">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName">
      <label for="emailAddress">Email address</label>
      <input type="email" class="form-control" id="emailAddress" name="emailAddress">
      
      {% for type in type_details %}
        <hr />
        {% for index in range(type_details[type]['questions']|length) %}
          <div class="text-center my-3 gt-form-question"> 
            <strong class="mb-1">{{type_details[type]['questions'][index]}}</strong>
            
            {% for choice in range(choices|length) %}
              <div class="form-check form-check-inline gt-form-radio-option">
                <input class="form-check-input" type="radio" name="{{type}}-{{index}}" id="{{type}}-{{index}}-checkbox-{{choice}}" value="{{choice + 1}}">
                <label class="form-check-label" for="{{type}}-{{index}}-checkbox-{{choice}}">
                  {{choices[choice]}}
                </label>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}

      <hr />
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>

    {% endblock %}
  </body>
</html>
