{% extends "template.html" %}
{% block content %}

<h1 class="text-center gt-page-header">DISC Assessment Results</h1>
<div class="row">
  {% for key, val in type_values.items() %}
    <div class="col-sm-3 text-center">
      <div>{{key}}</div>
      <div class="gt-assessment-result">{{val}}</div>
    </div>
  {% endfor %}
</div>

<hr />
{% if doubleMax|length > 0 %}
  <div>Looks like you tied for two categories. Take a read through these and see what you identify with</div>
{% endif %}

<div class="m-4 gt-assessment-result-explanation">
  <h3 class="text-center gt-page-header">{{maxType1}}</h3>
  <!-- Primary Category -->
  <h1 class="float-left text-center gt-complete-result-header">{{maxType1[0]}}</h1>
  <div>{{type_details[maxType1]['description']}}</div>
  <!-- Combo Categories -->
  <div class="ml-5 mt-3 gt-complete-secondary-category">
    <h3 class="float-left text-center mb-0 gt-complete-result-header">{{maxType1[0]}}/{{maxType2[0]}}</h3>
    <div>{{type_details[maxType1][maxType2]['description']}}</div>
    <div><i>{{type_details[maxType1][maxType2]['verses']}}</i></div>
  </div>
    
  {% if doubleMax|length > 0 %}
    <hr/>
    <h3 class="text-center gt-page-header">{{maxType2}}</h3>
    <!-- Primary Category -->
    <h1 class="float-left text-center gt-complete-result-header">{{maxType2[0]}}</h1>
    <div>{{type_details[maxType2]['description']}}</div>
    <!-- Combo Categories -->
    <div class="gt-complete-secondary-category">
      <h3 class="float-left text-center mb-0 gt-complete-result-header">{{maxType2[0]}}/{{maxType1[0]}}</h3>
      <div>{{type_details[maxType2][maxType1]['description']}}</div>
      <div><i>{{type_details[maxType2][maxType1]['verses']}}</i></div>
    </div>
  {% endif %}
</div>
<hr/>
<h5 class="text-center">Learn about the other DISC types</h5>
<div id="gt-descriptions">
  <div class="row mx-2">
    {% for key, val in type_values.items() %}
      <div class="col-sm-3 text-center">
        <button class="btn mx-auto py-3 w-75 gt-type-descriptions collapsed" type="button" data-toggle="collapse" data-target="#{{key}}-descriptions" aria-expanded="false" aria-controls="#{{key}}-descriptions">
          <h1 class="gt-card-title">{{key[0]}}</h1>
          <div>{{key}}</div>
        </button>
      </div>
    {% endfor %}
  </div>
 
  {% for key in type_details %}
    <div class="collapse mx-3 mt-3 py-4 px-3 gt-descriptions-content" id="{{key}}-descriptions" data-parent="#gt-descriptions">
      <h3 class="text-center gt-page-header">{{key}}</h3>
      <!-- Primary Category -->
      <h1 class="float-left text-center gt-complete-result-header">{{key[0]}}</h1>
      <div>{{type_details[key]['description']}}</div>
      <!-- Combo Categories -->
      {% for subkey in type_details if subkey != key %}
        <div class="ml-5 mt-3 gt-complete-secondary-category">
          <h3 class="float-left text-center mb-0 gt-complete-result-header">{{key[0]}}/{{subkey[0]}}</h3>
          <div>{{type_details[key][subkey]['description']}}</div>
          <div><i>{{type_details[key][subkey]['verses']}}</i></div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
