{% extends "template.html" %}
{% block content %}

<h2 class="text-center gt-page-header">DISC Assessment Results</h2>
<div class="row">
  {% for property, result in disc_results.items() %}
    <div class="col-sm-3 text-center">
      <div>{{property}}</div>
      <div class="gt-assessment-result">{{result['value']}}</div>
    </div>
  {% endfor %}
</div>

<hr />
{% if max_categories|length > 1 or max_sub_categories|length > 1 %}
  <div>Looks like you tied for multiple categories. Feel free to retake the test and answer as honestly as possible or take a read through these and see what you identify with</div>
{% endif %}

{% for max_category in max_categories %}
  <div class="m-4 gt-assessment-result-explanation">
    <h3 class="text-center gt-page-header">{{max_category}}</h3>
    <!-- Primary Category -->
    <h1 class="float-left text-center gt-complete-result-header">{{max_category[0]}}</h1>
    <div>{{disc_properties[max_category]['description']}}</div>
    <!-- Combo Categories -->
    {% for max_sub_category in max_sub_categories if max_sub_category != max_category %}
      <div class="ml-5 mt-3 gt-complete-secondary-category">
        <h3 class="float-left text-center mb-0 gt-complete-result-header">{{max_category[0]}}/{{max_sub_category[0]}}</h3>
        <div>{{disc_properties[max_category][max_sub_category]['description']}}</div>
        <div><i>{{disc_properties[max_category][max_sub_category]['verses']}}</i></div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
    
<hr/>
<h5 class="text-center">Learn about the other DISC types</h5>
<div id="gt-descriptions">
  <div class="row mx-2">
    {% for property in disc_properties %}
      <div class="col-sm-3 text-center">
        <button class="btn mx-auto py-3 w-75 gt-type-descriptions collapsed" type="button" data-toggle="collapse" data-target="#{{property}}-descriptions" aria-expanded="false" aria-controls="#{{property}}-descriptions">
          <h1 class="gt-card-title">{{property[0]}}</h1>
          <div>{{property}}</div>
        </button>
      </div>
    {% endfor %}
  </div>
 
  {% for property in disc_properties %}
    <div class="collapse mx-3 mt-3 py-4 px-3 gt-descriptions-content" id="{{property}}-descriptions" data-parent="#gt-descriptions">
      <h3 class="text-center gt-page-header">{{property}}</h3>
      <!-- Primary Category -->
      <h1 class="float-left text-center gt-complete-result-header">{{property[0]}}</h1>
      <div>{{disc_properties[property]['description']}}</div>
      <!-- Combo Categories -->
      {% for subproperty in disc_properties if subproperty != property %}
        <div class="ml-5 mt-3 gt-complete-secondary-category">
          <h3 class="float-left text-center mb-0 gt-complete-result-header">{{property[0]}}/{{subproperty[0]}}</h3>
          <div>{{disc_properties[property][subproperty]['description']}}</div>
          <div><i>{{disc_properties[property][subproperty]['verses']}}</i></div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
