{% extends "template.html" %}
{% block content %}

<h1 class="text-center gt-page-header">Spiritual Gifts Assessment Results</h1>

{% for key in max_types %}
  <div class="row">
    <div class="col-sm-2">
      <h1 class="gt-result-side-icon text-center">{{ key[0] }}</h1>
    </div>
    <div class="col-sm-10">
      <div><span class="gt-result-title">{{ key }}</span>  (Your Score: {{type_values[key]}})</div>
      <div>{{ type_details[key]['description'] }}</div>
      <div><i>{{ type_details[key]['verses'] }}</i></div>
    </div>
  </div>
  <hr />
{% endfor %}

<div class="row justify-content-center">
  <div class="col-md-6 col-xs-9">
    <button class="btn btn-dark w-100 gt-learn-more-button" data-toggle="collapse" data-target="#remaining-spiritual-gifts">Learn about other spiritual gifts</button>
  </div>
</div>

<div id="remaining-spiritual-gifts" class="collapse">
  {% for key in type_values if key not in max_types %}
    <hr />
    <div class="row">
      <div class="col-sm-2">
        <h1 class="gt-result-side-icon text-center">{{ key[0] }}</h1>
      </div>
      <div class="col-sm-10">
        <div><span class="gt-result-title">{{ key }}</span>  (Your Score: {{type_values[key]}})</div>
        <div>{{ type_details[key]['description'] }}</div>
        <div><i>{{ type_details[key]['verses'] }}</i></div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
